<h1>This Week's Hours</h1>

<p>
  <% hours.each do |key, value| %>
    <% day = Date.parse(key) %>
    <b><%= day.today? ? 'Today' : day.strftime("%A") %>:</b>
    <%= "#{value["formatted_hours"]}" %><br>
  <% end %>
</p>
