<div class="special_dates">
  <% if hours.blank? %>
    <strong><%= I18n.t 'no_hours_available' %></strong>
  <% end %>
  <ul>
    <% hours.each do |key, value| %>
      <li>
        <strong><%= "#{value["formatted_dates"]}" %></strong>
        <ul>
          <li><%= "#{value["desc"]}: #{value["formatted_hours"]}" %></li>
        </ul>
      </li>
    <% end %>
  </ul>
</div>


