<div class="this_weeks_hours">
  <p>
    <% hours.each do |key, value| %>
      <% day = Date.parse(key) %>
      <strong><%= day.today? ? 'Today' : day.strftime("%A") %>:</strong>
      <%= "#{value["formatted_hours"]}" %><br>
    <% end %>
  </p>
</div>

