<div class="this_weeks_hours">
  <p style="margin-top:-15px;">
    <% if hours.blank? %>
      <strong><%= I18n.t 'no_hours_available' %></strong>
    <% elsif hours.length() <= 7 %>
      <% todayDate = DateTime.parse(Date.today.to_s).strftime("%FT%T%:z") %>
      <% todayHours = hours.fetch(todayDate) %>
      <span style="font-size:1.3rem;font-weight:bold;"> <strong>Today: <%= raw "#{todayHours["formatted_hours"]}".html_safe %> </strong> </span><br>
    <% end %>
    <div style="margin-top: 32px;"> 
      <% hours.each do |key, value| %>
      <% day = Date.parse(key) %>
      <strong><%= day.strftime("%A") %>: </strong>
      <%= raw "#{value["formatted_hours"]}".html_safe %>
      <br>
    <% end %>
    </div>
  </p>
</div>