<div class="this_weeks_hours">
  <p>
    <% if hours.blank? %>
      <strong><%= I18n.t 'no_hours_available' %></strong>
    <% end %>
    <% hours.each do |key, value| %>
      <% day = Date.parse(key) %>
      <% if day.today? %>
        <h3> 'Today:' </h3>
      <% else %>
          <strong><% day.strftime("%A") %>: </strong>
      <%= <%= raw "#{value["formatted_hours"]}".html_safe %><br>
      <% end %>
    <% end %>
  </p>
</div>