<div class="this_weeks_hours">
  <p>
    <% if hours.blank? %>
      <strong><%= I18n.t 'no_hours_available' %></strong>
    <% end %>
    <% hours.each do |key, value| %>
      <% day = Date.parse(key) %>
      <h3><%= day.today? ? 'Today' : day.strftime("%A") %>:</h3>
      <%= raw "#{value["formatted_hours"]}".html_safe %><br>
    <% end %>
  </p>
</div>

