<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <style>
      body {
        font-family: 'Open sans',sans-serif;
        font-size: 18px;
        line-height: 1.6;
      }
      h2 {
        font-size: 1.5rem;
        color: #dc4405;
      }
      strong {
        font-weight: bold;
      }
      ul li {
        list-style-image: url(https://library.oregonstate.edu/sites/all/themes/doug-fir-drupal-7/images/bullet.png);
      }
      ul {
        padding: 0px;
        margin: 0 0 11px 25px;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
