<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <style> body {font-family: 'Open sans',sans-serif;} </style>
    <script>
        $( function() {
            function isEmpty(obj) {
                for (var x in obj) { return false; }
                return true;
            }
            function showHours(dateText) {
                var ajaxUrl = '<%= Rails.application.config.action_mailer.default_url_options[:protocol] %>://<%= Rails.application.config.action_mailer.default_url_options[:host] %>/hours'
                $.ajax({
                    type: 'POST',
                    url: ajaxUrl,
                    data: {
                        'dates': [dateText, dateText]
                    },
                    dataType: 'json',
                    success: function (data) {
                        $('.ajax_output').remove();
                        if (isEmpty(data) == true) {
                            $('#libHours').prepend('<div class=\"ajax_output\"><p><%= I18n.t 'no_hours_available' %></p></div>');
                        } else {

                            var items = [];
                            $.each( data, function( key, val ) {
                                items.push( "<b>" + val.string_date + "</b><br>" + val.formatted_hours + "<br>" + val.event_desc );
                            });

                            $('#libHours').prepend('<div class=\"ajax_output\"><p>' + items.join("") +'</p></div>');

                        }
                    },
                    error: function (xmlhttp) {
                        alert('An error occured: ' + xmlhttp.status);
                    }
                });
            }
            $("#widget_datepicker").datepicker({
                dateFormat: 'yy-mm-dd',
                onSelect: function(dateText, inst){
                    showHours(dateText);
                },
            });
        } );
    </script>
  </head>

  <body>
    <%= yield %>
    <div id="libHours">
      <div class="ajax_output"></div>
    </div>
  </body>
</html>
